!.github

.bundle/
log/*.log
tmp/
pkg/
doc/rdoc
db/*.sqlite3
db/schema.rb.diff
zeus.json
.sass-cache
.project
.envrc
*.iml
.generators
.idea
.rakeTasks

# ignore Gemfile.lock for wagons
Gemfile.lock

# uploaded pdf files
/private/ 

# ignore local dev overrides:
# for dev login
config/initializers/local_dev_login.rb
# different file watching on macOS
config/initializers/local_dev_file_watcher.rb
# rake shim to to solve issues with db:_dump / db:_dump_rails
lib/tasks/local_db_dump_shim.rake

# reports
spec/coverage
spec/reports
brakeman-output.tabs
rubocop-results.xml
coverage

.tool-versions
.pry_history
.envrc
