-#  Copyright (c) 2025, German Contingent for the Worldscoutjamboree 2027. This file is part of
-#  hitobito_wsjrdp_2027 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2027.

%h2.mt-3
  = t('people.form_tabs.finance')
= render_attrs(entry,
    :early_payer,
    :sepa_name,
    :sepa_address,
    :sepa_mail,
    :sepa_iban,
    :sepa_bic,
    :sepa_mandate_id)
