%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{ href: "#general", data: { bs_toggle: "tab" }, role: "tab" }= t('.general')
  %li.nav-item
    %a.nav-link{ href: "#association", data: { bs_toggle: "tab" }, role: "tab" }= t('.rdp_association')
